@use 'sass:math';
@import '../../variables.scss';


$scene-width: 410px;
$scene-height: 340px;
$cell-width: math.div($scene-width * 0.9, 1); // 90% of scene width
$cell-height: math.div($scene-height * 0.85, 1); // 85% of scene height
$cell-left: math.div($scene-width - $cell-width, 2);
$cell-top: math.div($scene-height - $cell-height, 2);

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  text-align: center;
}



.carousel-button{
  font-size: 20px;
  color: red;
  margin-bottom: 20px;

}

.scene {
  margin: 40px 0;
  position: relative;
  width: $scene-width;
  height: $scene-height;
  margin: 80px auto;
  perspective: 1000px;
}

.hint {
  margin-top: -64px;
  font-size: 16px;

}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;


}


.carousel__cell {
  position: absolute;
  width: $cell-width;
  height: $cell-height;
  left: $cell-left;
  top: $cell-top;
  border: 1px solid black;
  line-height: $cell-height;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  transition: transform 1s, opacity 1s;

}

.carousel-button {
    position: absolute;
    top: 50%; // center vertically
    transform: translateY(-50%); // offset the button's own height for perfect centering
    background: transparent;
    border: none;
    font-size: 2em; // make the arrows larger
    color: white; // change the color of the arrows
    cursor: pointer;
  
    &.previous-button {
      left: -130px; // position on the left
    }
  
    &.next-button {
      right: -130px; // position on the right
    }
  }



  @keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(1turn); }
  }
  
.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }

