@import '../../variables.scss';

.social-box{
    position: absolute;
    top: 8px;
    left: 24px;

}

ul{
    list-style: none;
    display: flex;

    align-items: center;
    
    li{
        display: block;
        
        a{
            margin-right: 32px;
            font-size: 32px;
            line-height: 16px;
            svg{
                color: $secondary-color;
            }
           
            &:hover svg{
                color: $primary-color;
            }
        }
        img{
            width: 48px;
            border-radius: 50%;
            margin-right: 32px;
        }
    }
}